src/main/mule/insert-data-headers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41a81fbc-7581-41a2-a0b4-e55b5d9700d6" doc:description="This application is to insert data to MySQL database using headers." >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="60d15ad6-f9ff-4f1d-a857-708b85aa1ada" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Asq@22w0rd#" database="northwind" />
	</db:config>
	<flow name="insert-data-headersFlow" doc:id="01e08082-4234-4ee9-a8f5-dc2473982a57" >
		<http:listener doc:name="Listener" doc:id="90eb457c-d3f8-415a-ae87-a8647b9c0a8c" config-ref="HTTP_Listener_config" path="my-db" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="41b3a2fc-e0e8-4bca-8dd1-69cc791f94f2" message='#["The submitted regionId and regionDescripition are: " ++ attributes.headers.regionId ++ " and " ++ attributes.headers.regiondescription]'/>
		<db:insert doc:name="Insert data into MySQL using headers" doc:id="9fc69cb4-1f86-4b0d-b7e2-da104af18b5b" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO region (regionId, regiondescription )
values (:regionId, :regiondescription)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'regionId': attributes.headers.regionId,
 'regiondescription': attributes.headers.regiondescription
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="33d00e80-9a08-44e8-a740-4e3c1dae85e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Message': "Data Inserted Successfully!",
	'Code': 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
